
  <div class="container bootstrap snippets bootdeys">
    <div class="row">
      <div class="col-md-4 col-sm-6 content-card" *ngFor="let job of jobOpports$ | async">
        <div class="card-big-shadow">
          <div class="card card-just-text" [ngClass]="'bg-' + job.color" data-radius="none">
            <div class="content">
              <h6 class="category">{{ job.titre }}</h6>
              <h4 class="title"><a href="#">{{ job.title }}</a></h4>
              <p class="description">{{ job.description }}</p>
              <p class="description">{{ job.lieu }}</p>
              <p class="description">{{ job.qualification }}</p>
              <p class="description">{{ job.datelimite }}</p>
              <button (click)="postuler(job.id_offre)" mat-raised-button type="submit" class="btn btn-danger mx-auto mt-3 text-white" style="width: 150px;">Postuler</button>
            </div>
          </div> <!-- end card -->
        </div>
      </div>
    </div>
  </div>
  