<div class="popup-container">
    <div class="popup-content">
      <h1>Ajouter un ticket</h1>
      <form (ngSubmit)="addTicket()" [formGroup]="ticketForm">
        <div class="form-group">
          <label>Priorité du ticket:</label>
          <select formControlName="ticketPriority">
            <option value="Critical">Critical</option>
            <option value="High">High</option>
            <option value="Medium">Medium</option>
            <option value="Low">Low</option>
          </select>
        </div>
        <div class="form-group">
          <label>Contenu du ticket:</label>
          <textarea formControlName="ticketContent" rows="4"></textarea>
        </div>
        <div class="form-group">
          <label>Date Assignée:</label>
          <input type="date" formControlName="dateAssigned">
        </div>
        <div class="form-group">
          <label>Statut du ticket:</label>
          <select formControlName="ticketStatus">
            <option value="Open">Open</option>
            <option value="InProgress">InProgress</option>
            <option value="Resolved">Resolved</option>
            <option value="Closed">Closed</option>
            <option value="Cancelled">Cancelled</option>
          </select>
        </div>
        <div class="form-group">
          <button mat-button (click)="onCancel()">Annuler</button>
          <button type="submit">Ajouter</button>
        </div>
      </form>
    </div>
  </div>
  