<section>
<button mat-raised-button color="primary" (click)="ouvrirPopupAjoutQuestion()"style="width: 150px; text-decoration: aliceblue; font-size: 16px; background-color: rgb(104, 104, 151);">Add Jobs</button>
</section>
<div class="container">
 
  <div class="card" *ngFor="let job of jobs"style=" text-decoration: aliceblue; background-color:  rgb(82, 87, 92);">
    <div class="image">
      <img [src]="'assets/images/istockphoto-1173054931-612x612.jpg'" alt="Job Image">
    </div>
    <div class="content">
      <h3>{{ job.titre }}</h3>
      <p>L'offre de cette job ce concerne {{ job.description }} </p>
      <p>et l'qualification de ce job est {{ job.qualifications }}</p>
      <p>le lieu est {{ job.lieu }}</p>
      <p>la date limite {{ job.dateLimite }}</p>
      <button (click)="openUpdateDialog(job)" mat-raised-button type="submit" class="btn btn-danger mx-auto mt-3 text-white" style="width: 150px; text-decoration: rgb(251, 252, 253); font-size: 16px; background-color: rgb(104, 104, 151);">Update</button>
      <button (click)="openDeleteConfirmation(job)" mat-raised-button type="submit" class="btn btn-danger mx-auto mt-1 text-white" style="width: 150px; text-decoration: aliceblue; font-size: 16px; background-color: rgb(104, 104, 151);">Delete</button>
    </div>
  
  </div>
</div>

