<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="cardo">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Liste des tickets</h4>
              <p class="card-category">Tous les tickets</p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <button (click)="openAddTicket('1000ms','500ms','')" mat-raised-button color="primary">Ajouter</button>
  
                <table class="table">
                  <thead class="text-primary">
                    <tr>
                      <th>IdTicket</th>
                      <th>Priorité</th>
                      <th>Contenu</th>
                      <th>Date Assignée</th>
                      <th>Statut</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let ticket of tickets">
                      <td>{{ticket.idTicket}}</td>
                      <td>{{ticket.ticketPriority}}</td>
                      <td>{{ticket.ticketContent}}</td>
                      <td>{{ticket.dateAssigned}}</td>
                      <td>{{ticket.ticketStatus}}</td>
                      <td>
                        <button (click)="editTicket(ticket.idTicket)" class="btn btn-primary">Éditer</button>
                        <button (click)="deleteTicket(ticket.idTicket)" class="btn btn-danger delete-button">Supprimer</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  