



<div>
  <section class="bg">
    <div class="container ">
      <div class="row row-grid align-items-left">
        <div class="col-md-6">
          <div class="card bgo shadow border-0 p-2 g-col-6">
            <div >
              <ngb-carousel >
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img src="./assets/images/offre1.jpg" alt="Random first slide" class="carousel-img" />
                  </div>
                  <div class="carousel-caption">
                    <p>votre opportunité pour s'améliorer</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img src="./assets/images/offre2.jpg" alt="Random second slide" class="carousel-img" />
                  </div>
                  <div class="carousel-caption">
                    <p>Qu-attendez vous pour reagir comme étand un entreprise innovante de ce domaine.</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img src="./assets/images/offre3.jpg" alt="Random third slide" class="carousel-img"  />
                  </div>
                  <div class="carousel-caption">
                    <p>Agir maintenant pour un avenir euphorique .</p>
                  </div>
                </ng-template>
                
              </ngb-carousel>
          </div>
          </div>
        </div>
        <!-- candidat.component.html -->

        <div>
          <h2>Ajouter un Candidat</h2>
          <form (submit)="onSubmit()">
            <div>
              <label for="email">Email :</label>
              <input type="email" id="email" name="email" [(ngModel)]="email" required>
            </div>
            <div>
              <label for="pdfFile">Fichier PDF :</label>
              <input type="file" id="pdfFile" name="pdfFile" (change)="onFileSelected($event)" accept=".pdf" required>
            </div>
            <button type="submit">Ajouter Candidat</button>
          </form>
        </div>
</div>

          
</div>
