<div *ngFor="let assignement of assignementsList">
    <p>{{ assignement.idAssign }}</p>
    <p>{{ assignement.timeRecording }}</p>
    <p>{{ assignement.expenses }}</p>
    <p>{{ assignement.projects?.projetTitle }}</p>
    <button (click)="deleteAssignement(assignement.idAssign)">Supprimer</button>
</div>

<form (ngSubmit)="addAssignement()">
    <input type="text" [(ngModel)]="newAssignement.idAssign" name="idAssign" placeholder="ID Assignement">
    <input type="text" [(ngModel)]="newAssignement.timeRecording" name="timeRecording" placeholder="Time Recording">
    <input type="number" [(ngModel)]="newAssignement.expenses" name="expenses" placeholder="Expenses">
    <!-- Ajoutez ici tous les autres champs de l'assignement que vous souhaitez inclure dans le formulaire d'ajout -->
    <button type="submit">Ajouter</button>
</form>


<div *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
</div>
