<div mat-dialog-title>
    <h1>Sales Activity Form</h1>
  </div>
  <form [formGroup]="activityForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
      <div>
        <label>Start Time:</label>
        <input type="datetime-local" formControlName="heureStart">
      </div>
      <div>
        <label>End Time:</label>
        <input type="datetime-local" formControlName="heureEnd">
      </div>
      <div>
        <label>Description:</label>
        <input type="text" formControlName="description">
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Type:</mat-label>
        <mat-select formControlName="typeAct" placeholder="Select type">
          <mat-option value="REUNION">REUNION</mat-option>
          <mat-option value="APPEL_TELEPHONIQUE">APPEL TELEPHONIQUE</mat-option>
          <mat-option value="RESUME_APPEL">RESUME APPEL</mat-option>
          <mat-option value="MEETING">MEETING</mat-option>
          <mat-option value="CALL_SUMMARY">CALL SUMMARY</mat-option>
        </mat-select>
      </mat-form-field>
      
       <!-- <label>Status:</label>
        <select formControlName="status">
          <option *ngFor="let status of activityStatuses" [value]="status">{{ status }}</option>
        </select>
      </div>--> 
    </div>
    <div mat-dialog-actions class="action">
      <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
      <button mat-raised-button color="primary" type="submit">{{ data ? 'Update' : 'Save' }}</button>
    </div>
  </form>
  