<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="mb-4">Add New Contract</h2>
      <form [formGroup]="contractForm" (submit)="addContract()">
        <div class="mb-3">
          <label for="description" class="form-label">Description:</label>
          <input type="text" class="form-control" id="description" formControlName="description">
        </div>

        <div class="mb-3">
          <label for="dateContract" class="form-label">Date Contract:</label>
          <input type="date" class="form-control" id="dateContract" formControlName="dateContract">
        </div>

        <div class="mb-3">
          <label for="montant" class="form-label">Montant:</label>
          <input type="number" class="form-control" id="montant" formControlName="montant">
        </div>

        <div class="mb-3">
          <label for="nbreTranche" class="form-label">Nbre Tranche:</label>
          <input type="number" class="form-control" id="nbreTranche" formControlName="nbreTranche">
        </div>

        <div class="mb-3">
          <label for="etape" class="form-label">Etape:</label>
          <input type="text" class="form-control" id="etape" formControlName="etape">
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="contractForm.invalid">Add Contract</button>
      </form>
    </div>
  </div>
</div>
