<button mat-raised-button color="primary" (click)="ouvrirPopupAjoutQuestion()" style="width: 150px; text-decoration: aliceblue; font-size: 16px; background-color: rgb(232, 125, 125);">Add Questions</button>

<div class="container">
  <div class="card" *ngFor="let question of questions" style="text-decoration: aliceblue; background-color: rgb(232, 125, 125)">
    <div class="image">
      <img [src]="'assets/images/QUESTION.webp'" alt="Question Image">
    </div>
    <div class="content">
      <p>Le sujet de cette question est {{ question.content }}</p>
      <p>La pondération est {{ question.ponderation }} questions</p>
      <p>Réponse 1: {{ question.option1 }}</p>
      <p>Réponse 2: {{ question.option2 }}</p>
      <p>Réponse 3: {{ question.option3 }}</p>
      <p>Réponse 4: {{ question.option4 }}</p>
      <p>Réponse correcte: {{ question.answer }}</p>

  
      <button (click)="openUpdateDialog(question)" mat-raised-button type="submit" class="btn btn-danger mx-auto mt-3 text-white" style="width: 150px; text-decoration: rgb(244, 240, 240); font-size: 16px; background-color: rgb(232, 125, 125);">Update</button>
      <button (click)="openDeleteConfirmation(question)" mat-raised-button type="submit" class="btn btn-danger mx-auto mt-1 text-white" style="width: 150px; text-decoration: aliceblue; font-size: 16px; background-color: rgb(232, 125, 125);">Delete</button>
    </div>
  </div>
</div>
