.custom-table {
    margin-top: 30px; /* Adjust margin-top as needed */
    background-color: transparent; /* Set background to transparent */
  }
  
  .custom-paginator {
    margin-top: 20px; /* Adjust margin-top as needed */
  }
  /* Add margin-top and make the search container transparent */
.search-container {
    margin-top: 20px; /* Adjust the margin-top value as needed */
  }
  
  .search-container mat-form-field {
    background-color: transparent;
  }
  
  