<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <h2 class="mb-4">Contracts Table</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Deal</th>
              <th scope="col">Date Contract</th>
              <th scope="col">Valeur du Contract </th>
              <th scope="col">Nbre Tranche</th>
              <th scope="col">Etape</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let contract of contracts">
              <td>{{ contract.idContract }}</td>
              <td>{{ contract.description }}</td>
              <td>{{ contract.dateContract | date: 'shortDate' }}</td>
              <td>{{ contract.montant | currency: 'USD':'symbol' }}</td>
              <td>{{ contract.nbreTranche }}</td>
              <td>{{ contract.etape }}</td>
              <td>
                <button class="btn btn-warning" (click)="updateContract(contract.idContract!)">Update</button>
                <button class="btn btn-danger ml-2" (click)="removeContract(contract.idContract!)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  