<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="cardo">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Liste des contrats</h4>
              <p class="card-category">Tous les contrats</p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <!-- Search field -->
                <input type="text" [(ngModel)]="searchTerm" placeholder="Rechercher...">

                <button mat-raised-button color="primary" (click)="openAddUpdateContractForm()">Add Contract</button>
  
                <!-- Contracts table -->
                <table class="table">
                  <thead class="text-primary">
                    <tr>
                      <th>Contract ID</th>
                      <th>Repertoire</th>
                      <th>Description</th>
                      <th>Date de Contrat</th>
                      <th>Etape</th>
                      <th>Montant</th>
                      <th>Nombre de Tranches</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let contract of pagedContracts">
                      <td>{{ contract.idContract }}</td>
                      <td>{{ contract.repertoire }}                      
                        <td>
                            <button mat-button color="primary" (click)="openPdf(contract.description)">
                              {{ contract.description }}
                            </button>
                        </td>
                      <td>{{ contract.dateContract }}</td>
                      <td>{{ contract.etape }}</td>
                      <td>{{ contract.montant }}</td>
                      <td>{{ contract.nbreTranche }}</td>
                      <td>
                        <button mat-raised-button color="primary" (click)="openEditForm(contract)">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button (click)="deleteContract(contract.idContract)" class="btn btn-danger delete-button">Supprimer</button>
                      </td>
                      
                    </tr>
                  </tbody>
                </table>
  
                <!-- Pagination -->
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="pageSize" [length]="contracts.length" (page)="onPageChange($event)">
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  