<section class="section section-shaped section-lg">
  <div class="shape shape-style-1 bg-gradient-default">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
<div>
  <div class="card1">
    <div class="card-body">
      <h2 class="card-title">ARE YOU READY</h2>
    <input type="email" [(ngModel)]="email" placeholder="Entrez votre e-mail">
    <button (click)="onSubmit()">Passer le quiz</button>

  </div>
</div>
  </div>
  </section>