<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Liste des salles</h4>
              <p class="card-category">Toutes les salles</p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <input type="text" [(ngModel)]="searchTerm" placeholder="Rechercher...">
                <button (click)="openAddRoomDialog()" mat-raised-button color="primary" class="mt-3">Ajouter</button>
  
                <table class="table">
                  <thead class="text-primary">
                    <tr>
                      <th>Identifiant de la salle</th>
                      <th>Titre</th>
                      <th>Date de la salle</th> <!-- Mettez le nom correct de la propriété pour la date -->
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let room of pagedRooms">
                      <td>{{ room.idRoom }}</td>
                      <td>{{ room.tiltle }}</td>
                      <td>{{ room.roomDate }}</td> <!-- Assurez-vous que roomDate est le nom correct de la propriété -->
                      <td>
                        <button (click)="editRoom(room.idRoom)" class="btn btn-primary">Éditer</button>
                        <button (click)="deleteRoom(room.idRoom)" class="btn btn-danger">Supprimer</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
  
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="pageSize" [length]="rooms.length" (page)="onPageChange($event)">
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  