<app-navbardorra></app-navbardorra>

<main>
  <section class="section section-shaped section-lg">
<span></span>
<span></span>
<span></span>
<span></span>
<span></span><span></span>>
<span></span>
  </section>

  <div class="container">
    <div class="row">
      <div class="card" *ngFor="let quiz of quizzes"style=" text-decoration: aliceblue;  background-color:rgb(196, 233, 48)">
        <div class="image">
          <img [src]="'assets/images/quiz.avif'" alt="Quiz Image">
        </div>
          
        <div class="content">
          <p>le sujet de ce quiz est {{ quiz.titre }}</p>
          <p> ce quiz contien {{ quiz.numberOfQuestions }} questions</p>
    
         
            <button class="btn btn-primary" [disabled]="quizInProgress" (click)="viewQuestions(quiz.id_quiz)">View Questions</button>
          </div>
        </div>
      </div>
    </div>
  
</main>
