
<style>
    .valid-button {
        color: white;
        background-color: green;
        font-weight: bold;
    }

    .invalid-button {
        color: white;
        background-color: red;
        font-weight: bold;
        text-decoration: line-through;
    }

    .table100-head th {
        font-family: OpenSans-Regular;
        font-size: 18px;
        color: #fff;
        line-height: 1.2;
        font-weight: unset
    }
    .column1 {
        width: 260px;
        padding-left: 40px
    }

    .column2 {
        width: 160px
    }

    .column3 {
        width: 245px
    }

    .column4 {
        width: 110px;
        text-align: right
    }

    .column5 {
        width: 170px;
        text-align: right
    }

    .column6 {
        width: 222px;
        text-align: right;
        padding-right: 62px
    }
    .wrap-table100 {
        width: 1170px
    }
    .limiter {
        width: 100%;
        margin: 0 auto
    }

    .container-table100 {
        width: 100%;
        min-height: 100vh;
        background: #c850c0;
        background: -webkit-linear-gradient(45deg,#4158d0,#c850c0);
        background: -o-linear-gradient(45deg,#4158d0,#c850c0);
        background: -moz-linear-gradient(45deg,#4158d0,#c850c0);
        background: linear-gradient(45deg,#4158d0,#c850c0);
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 33px 30px
    }
</style>

<div class="main-content" style="background-image: url('https://medias1.prestastore.com/691264-pbig/pdf-quotation.jpg'); background-size: contain ; background-position: right  ">
<div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- Button to trigger modal for Add Quote -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addQuoteModal">Add Quote</button>
            </div>
        </div>
        <!-- Quote List Section -->
        <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100" style="position: absolute">
                        <div class="card-header card-header-info" style="position: relative; z-index: 1;">
                            <h4 class="card-title">Quote List</h4>
                    </div>
                    <div class="wrap-table100">
                        <!-- Quote Table Here -->
                        <div class="table100">
                            <table>
                                <!-- Table Headers -->
                                <thead>
                                <tr class="table100-head">
                                    <th class="column1">ID Quote</th>
                                    <th>
                                        <i class="fas fa-dollar"></i> Value
                                    </th>
                                    <th> <i class ="fas fa-calendar-check-o"></i> Creation Date</th>
                                    <th><i class ="fas fa-calendar-times-o"></i> Expire Date</th>
                                    <th> <i class ="fas fa-note-sticky"></i> Description</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <!-- Table Body -->
                                <tbody>
                                <!-- Quote Rows Here -->
                                <tr *ngFor="let quote of quotes">
                                    <td class="column1"> {{ quote.idQuote }}</td>
                                    <td>{{ quote.montant }}</td>
                                    <td style="background-color: mediumspringgreen; color: black   ; font-weight: bold;">{{ quote.creationDate }}</td>
                                    <td style="background-color: indianred; color: black    ; font-weight: bold;">{{ quote.expireDate }}</td>
                                    <td>{{ quote.description }}</td>
                                    <td>
                                        <button class="btn" [ngClass]="quote.valid ? 'valid-button' : 'invalid-button'" (click)="toggleQuoteValidity(quote)">
                                            {{ quote.valid ? 'Valider' : 'Invalider' }}
                                        </button>
                                    </td>
                                    <td>
                                        <!-- Edit Button -->
                                        <button type="button" class="btn btn-info" (click)="openEditModal(quote)" data-toggle="modal" data-target="#editQuoteModal">
                                            Edit
                                        </button>
                                        <!-- Delete Button -->
                                        <button type="button" class="btn btn-danger" (click)="deleteQuote(quote.idQuote)">
                                            Delete
                                        </button>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal for Add Quote -->
        <div class="modal fade" id="addQuoteModal" tabindex="-1" role="dialog" aria-labelledby="addQuoteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addQuoteModalLabel">Add Quote</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Form to add quote -->
                        <form (ngSubmit)="saveQuote()">
                            <div class="form-group">
                                <label for="montant">Montant</label>
                                <input type="text" class="form-control" id="montant" name="montant" [(ngModel)]="newQuote.montant">
                            </div>
                            <div class="form-group">
                                <label for="creationDate">Creation Date</label>
                                <input type="date" class="form-control" id="creationDate" name="creationDate" [(ngModel)]="newQuote.creationDate">
                            </div>
                            <div class="form-group">
                                <label for="expireDate">Expire Date</label>
                                <input type="date" class="form-control" id="expireDate" name="expireDate" [(ngModel)]="newQuote.expireDate">
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control" id="description" name="description" [(ngModel)]="newQuote.description" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Save Quote</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal for Edit Quote -->
        <div class="modal fade" id="editQuoteModal" tabindex="-1" role="dialog" aria-labelledby="editQuoteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editQuoteModalLabel">Edit Quote</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Form to edit quote -->
                        <form (ngSubmit)="updateQuote()">
                            <div class="form-group">
                                <label for="editMontant">Montant</label>
                                <input type="text" class="form-control" id="editMontant" name="editMontant" [(ngModel)]="selectedQuote.montant">
                            </div>
                            <div class="form-group">
                                <label for="editCreationDate">Creation Date</label>
                                <input type="date" class="form-control" id="editCreationDate" name="editCreationDate" [(ngModel)]="selectedQuote.creationDate">
                            </div>
                            <div class="form-group">
                                <label for="editExpireDate">Expire Date</label>
                                <input type="date" class="form-control" id="editExpireDate" name="editExpireDate" [(ngModel)]="selectedQuote.expireDate">
                            </div>
                            <div class="form-group">
                                <label for="editDescription">Description</label>
                                <textarea class="form-control" id="editDescription" name="editDescription" [(ngModel)]="selectedQuote.description" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
