@import "~@fortawesome/fontawesome-free/css/all.css";
.valid-button {
    color: white;
    background-color: green;
    font-weight: bold;
}

.invalid-button {
    color: white;
    background-color: red;
    font-weight: bold;
    text-decoration: line-through;
}
