.microphone-icon {
  cursor: pointer; /* Changement de curseur au survol */
  fill: #127709; /* Couleur de l'icône (remplacer par votre couleur préférée) */
  width: 30px; /* Largeur de l'icône */
  height: 30px; /* Hauteur de l'icône */
}



body {
  background-color: #90EE90	;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quiz-card {
  text-align: center;
}

h2, h3 {
  margin: 10px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

label {
  display: block;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

button:focus {
  outline: none;
}

p {
  margin-bottom: 10px;
}
