<app-navbardorra></app-navbardorra>

<section class="section section-shaped section-lg">
  <div class="shape shape-style-1 bg-gradient-default">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <app-navbardorra></app-navbardorra>

  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <!-- Vos éléments de forme ici -->
    </div>
  
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Soumettre une Réclamation</h5>
              <!-- Textarea pour saisir la réclamation -->
              <div>
                <textarea [(ngModel)]="contenuReclamation" placeholder="Saisissez votre réclamation ici..." class="form-control"></textarea>
              </div>
              <!-- Bouton pour démarrer la reconnaissance vocale -->
              <div class="text-center mt-3">
                <button class="btn btn-primary" (click)="startRecognition()">
                  Démarrer la Reconnaissance Vocale
                </button>
                <!-- Bouton pour soumettre la réclamation -->
                <button class="btn btn-success ml-2" (click)="soumettreReclamation(mailcandidat)">
                  Soumettre la Réclamation
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Section pour afficher la réclamation traduite -->
    <section *ngIf="contenuReclamation" class="section section-shaped section-lg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Réclamation Traduite</h5>
                <p class="card-text">{{ contenuReclamationTraduite }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</section>
